<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyHome</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="{{url_for('static', filename='js/watch.js')}}"></script>
</head>
<body>
    <h1>Welcome To My WebSite!!</h1>
    <p>안녕하세요 XXX의 홈페이지에 오신것을 환영합니다.</p><br><br>
    <h2>인공지능 스피커 - 프렌즈</h2>
    <p>인공지능 스피커 프렌즈를 소개합니다.</p>
    <img src="{{url_for('static', filename='images/friends.png')}}" width='800' height='600'>
    <p id="demo"></p>
</body>
</html>